*
{

margin:0px;
padding:0px;

} 
 #frontpart
{
  background-color:cornflowerblue;
  padding: 4rem 1rem 2rem 4rem;
  height: 5.5rem;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  position: sticky;
  text-align: center;
}
textarea
{   
  margin: 3rem 2.9rem;
  display: block;
  padding: 3rem 2.5rem 1rem 4rem;
  /* padding-left: 2rem; */
  align-content: center;
  border: 4px solid deepskyblue;
  border-radius: 50px;
}

img
{
  
  display: block;
  margin: auto;
  width: 28%;
}
button
{
  display: block;
  margin: 7rem 9rem;
  font-size: x-large;
  border: 4px solid deepskyblue;
  border-radius: 40px;
  padding: 0.6rem;
  cursor: pointer;
}

h2
{
  text-align: center;
  padding-top: 2rem;
}
#datapart
{
  padding: 4rem;
  text-align: center;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cornflowerblue;
  margin: 0px;
}

#input-one
{
  background-color: skyblue;
  display: flex;
  text-align: right;
  width: 100%;
}

.pogo
{
background-color: lightskyblue;

}
.downpart
{
  background-color: lightskyblue;
  height:140px ;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 2.5rem;
}
nav
{
background-color: lightskyblue;
}
column
{

  float: left;
}
.part-one
{
width: 40%;

}
.part-two
{

  width: 30%;
}
.part-three
{
  width: 40%;

}