*
{

margin:0px;
padding:0px;

} 
 #frontpart
{
    background-color: aqua;
    padding: 2rem 2.5rem;
    height: 2rem;
    font-family: cursive;
}
textarea
{

  margin: 1rem 8rem;
  padding: 4rem;
  min-width: 60%;
  /* align-content: center; */
  text-align: center;
}

img
{
  
display: block;
margin:auto;
width:28%;

}

