*
{

margin:0px;
padding:0px;

} 
 #frontpart
{
    background-color: aqua;
    padding: 2rem 2.5rem;
    height: 2rem;
    font-family: cursive;
}
textarea
{

  margin: auto;
  display: block;
  padding: 2rem 1rem 2rem;
  width: 30%;
  /* align-content: center; */
  text-align: center;
  align-content: center;
}

img
{
  
display: block;
margin:auto;
width:28%;

}
.webpart
{


}